html,
body {
  overflow: visible;
  min-height: 600px;
}

body {
  background-color: #1c1d20;
}

.title {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #24262a;
  margin-bottom: 10px;
}

.content-container {
  padding: 5px 10px 0 10px;
}

.input-container,
.category-container {
  background-color: #24262a;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  margin-bottom: 20px;
  min-width: 400px;
  width: 100%;
}

.input-container {
  padding: 0.5rem 0.8rem 0.8rem 0.8rem;
}

.links-list {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 15px;
}

.input-field:last-child {
  margin-bottom: 5px;
}

.input-label {
  color: #9c9da4;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

.input-label:last-child {
  margin: 0;
}

.input-field input,
.select-field select {
  background: #24262a;
  border: 1px solid #323438;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 0.8rem;
  padding: 7px 10px;
  width: 100%;
}

.select-field select {
  padding: 5px 10px;
}

.input-field input:active,
.input-field input:focus,
.input-field input:focus-within,
.input-field input:focus-visible,
.select-field select:active,
.select-field select:focus,
.select-field select:focus-within,
.select-field select:focus-visible {
  border-color: #5a5a5a;
  outline: #5a5a5a;
}

.select-field {
  z-index: 10;
  flex-grow: 1;
}

.select-field select,
.select-field ::picker(select) {
  appearance: base-select;
}

.select-field option {
  border: none;
  outline: none;
  padding: 6px;
}

.action-container {
  display: flex;
  gap: 10px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

.action-button button {
  background: #527ccf;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  padding: 7px 10px;
  min-width: 90px;
}

.action-button button:hover {
  background: #3b6fd8;
}

.no-links-message {
  color: #3687ba;
  font-size: 18px;
  text-align: center;
}

.category-container {
  border-radius: 6px;
  margin-bottom: 10px;
}

.category-header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.category-header {
  padding: 0.5rem 0.8rem 0 0.8rem;
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.8rem;
  flex-grow: 1;
}

.collapse-toggle img {
  cursor: pointer;
  filter: invert(100%);
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.links-list.collapsed {
  display: none;
}

.links-list {
  padding: 0 0.8rem 0.8rem 0.8rem;
}

.category-edit-container img {
  filter: invert(100%);
}

.category-edit-container img {
  width: 15px;
  height: 15px;
}

.category-edit {
  padding: 5px 8px;
  background: #24262a;
  border: 1px solid #323438;
  border-radius: 5px;
  margin-right: 0.8rem;
}

.category-edit:hover {
  background: #333539;
  cursor: pointer;
}

.category-text,
.category-input {
  box-sizing: border-box;
  display: none;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 5px;
  width: 100%;
}

.category-text.show,
.category-input.show {
  display: block;
}

.category-text {
  border-bottom: 2px solid transparent;
}

.category-input {
  color: white;
}

.category-input,
.link-input {
  background: #393b3f;
  border: none;
  border-bottom: 2px solid #56595e;
  transition: all .2s ease-in-out;
}

.category-input:active,
.category-input:focus,
.link-input:active,
.link-input:focus {
  outline: none;
  border-color: #c0c0c0;
}

.single-link {
  background: #24262a;
  border: 1px solid #323438;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  max-width: 580px;
  padding: 10px;
  position: relative;
}

.single-link .link-title input,
.single-link .link-title {
  color: white;
  font-size: 1rem;
  line-height: normal;
  min-height: 1rem;
  min-width: 1px;
}

.single-link .link-title {
  color: white;
  margin-bottom: 8px;
}

.single-link .link-url input {
  font-size: 12px;
}

.single-link .link-text {
  letter-spacing: normal;
  border-bottom: 2px solid transparent;
}

.single-link .link-input {
  color: white;
  width: 100%;
}

.single-link .link-text,
.single-link .link-input {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
  padding: 3px 5px;
  display: none;
}

.single-link .link-text.show,
.single-link .link-input.show {
  display: inherit;
}

.single-link .link-url {
  color: #76abf0;
  cursor: pointer;
  font-size: 0.75rem;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  position: absolute;
  right: -0.6rem;
  top: -1rem;
}

.link-button {
  align-items: center;
  background: #24262a;
  border: 1px solid #323438;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.link-button:hover {
  background: #333539;
}

.link-button img {
  filter: invert(100%);
  height: 10px;
  width: 10px;
}

.link-button:hover img {
  opacity: 0.8;
}
